body{
    margin: 0;
    font-family: Arial;
    background-color: #ececec;
}


/* NAVBAR */
.navbar{
    background-color: #3f3f3f;
    overflow: hidden;
}


/* NAVBAR LINKS */
.navbar a{
    float: left;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}


/* ACTIVE LINK */
.navbar a.active{
    background-color: #5a5a5a;
}


/* HOVER */
.navbar a:hover{
    background-color: #6f6f6f;
}