body{
    margin: 0;
    font-family: Arial;
    background-color: #ececec;
}

.navbar{
    background-color: #3f3f3f;
    overflow: hidden;
}

.navbar a{
    float: left;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

.navbar a.active{
    background-color: #5a5a5a;
}

.navbar a:hover{
    background-color: #6f6f6f;
}